/* Main Header CSS   */
.Header
{
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
    background: linear-gradient(to bottom, #174075, #23589E);
    padding-left: 10px;
    padding-right: 10px;
}

.ccdiLOGO
{
    background-image: url("../../assets/WebPageSVG/ccdiLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    align-self: center;
}

.header-text-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.header-text
{
    font-family: Arial;
    font-size: 15px;
    color: white;
}


/* HeaderToolBar CSS   */
.header-toolbar
{
display: flex;
flex-direction: row;
align-items: left;
position: fixed;
top: 50px;
right: 0px;
left: 0px;
height: 40px;
background-color: #232222;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 0px;
padding-top: 0px;   
}

.burger-menu-container
{
    flex: 1;
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100px;
    max-width: 1600px;
}

.searchbarbutton-container
{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 212px;
    max-width: 2480px;
    
}

.user-profile-container
{
    flex: 1;    
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    width: 100px;
    max-width: 1600px;
}

.burger-menu-button
{
    display: flex;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px; 
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.burger-menu-logo
{
    background-image : url("../../assets/WebPageSVG/BurgerMenuLogo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    align-self: center;
}

.user-profile
{
background-image: url("../../assets/WebPageSVG/UserLogo.svg");
background-size: contain;
background-repeat: no-repeat;
height: 25px;
width: 25px;
align-self: center;
padding-right: 5px;
padding-left: 5px;
padding-bottom: 0px;
padding-top: 0px;
}

.user-name-text
{
    font-family: Arial;
    font-size: 12px;
    align-self: center;
    color: white;
}

.search-bar
{
font-family: Arial;
font-size: 15px;
align-self: center;
width: 125px;

}

.search-button
{
  display: flex;
  background: transparent;
  align-self: center;
  width: 30x;
  height: 30px;
  border: none;
  border-radius: 4px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.search-logo
{
    background-image: url("../../assets/WebPageSVG/SearchBar.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    align-self: center;
}



/* PostPreviewGrid CSS  */

.page-wrapper
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100vw;
  padding: 0;
  margin-top: 90px;
  background-color: #161515;
}

.post-preview-flex
{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    align-self:flex-start;
    
    width: 392px;
    max-width: 100vw;
    height: auto;
    gap: 10px;
    padding: 0px;
    margin: 0px;
}

@media (min-width: 768px) { /* Desktop breakpoint, adjust as needed */
  .post-preview-flex {
    width: 800px;      /* or any desktop width you want */
    max-width: 1200px; /* or any max desktop width */
  }
}


.post-preview
{
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;

}

/* UserInfo and Flair CSS */
.user-info-post
{
display: flex;
flex-direction: row;
padding-top: 10px;
}

.user-poster-container
{
display: flex;
flex-direction: row;
flex: 1;
align-items: center;
padding-left: 10px;
}

.user-poster-profile
{
background-image: url("../../assets/WebPageSVG/UserLogo.svg");
background-size: contain;
background-repeat: no-repeat;
width: 20px;
height: 20px;
padding: 0px;
margin: 0px;
padding-right: 5px;
align-self: center;
}

.user-poster-name-text
{
    font-size: 12px;
    font-family: Arial;
    color: white;
    padding: 0px;
    margin: 0px;
}

.post-flair-container
{
display: flex;
align-items: center;
justify-content: right;
flex: 1;
padding-right: 5px;
}

.post-flair-text
{
    
    font-family: Arial;
    font-size: 10px;
    color: white;
    padding: 0px;
    margin: 0px;
}


/* Title Post CSS */
.title-post
{
    display: inline-block;
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 5px;
}

.title-post-text
{
    font-family: Arial;
    font-size: 20px;
    color: white;
    padding-left: 15px;
    font-weight: bold;
}

/* Description Post CSS */
.description-post
{
display: flex;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
min-height: 90px;
align-items: center;
}

.description-post-text
{
    font-family: Arial;
    font-size: 12px;
    color: white;
    text-align: justify;
    line-height: 2;
}


/* Buttons Post CSS */
.buttons-post
{
display: flex;
flex-direction: row;
padding-top: 5px;
background-color: #3D3B3B;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
align-items: center;
}

.upvote-comment-container
{
flex: 1;
display: flex;
flex-direction: row;
align-items: center;
justify-content: left;
gap: 10px;
}

.favorite-container
{
flex: 1;
display: flex;
flex-direction: row;
align-items: center;
justify-content: left;
gap: 10px;
}

.upvote-button
{
display: flex;
justify-content: center;
align-items: center;
border: transparent;
background: transparent;
padding: 0px;
}

.comment-button
{
display: flex;
justify-content: center;
align-items: center;
border: transparent;
background: transparent;
padding: 0px;
}

.favorite-button
{
display: flex;
justify-content: center;
align-items: center;
border: transparent;
background: transparent;
padding: 0px;
}

.upvote-logo
{
background-image: url("../../assets/WebPageSVG/UpvoteLogo.svg");
background-size: contain;
background-repeat: no-repeat;
width: 20px;
height: 20px;
}

.comment-logo
{
background-image: url("../../assets/WebPageSVG/CommentLogo.svg");
background-size: contain;
background-repeat: no-repeat;
width: 20px;
height: 20px;
}

.favorite-logo
{
background-image: url("../../assets/WebPageSVG/FavoriteLogo.svg");
background-size: contain;
background-repeat: no-repeat;
width: 20px;
height: 20px;
}